.bg-primary {
  background: #1F40C9;
  color: white;
}

.btn.bg-primary {
  color: white !important;
}

.btn.bg-primary:hover {
  background: #1d3cbc;
}

.btn.bg-primary:focus {
  background: #1c39b3;
}

.text-primary {
  color: #1F40C9;
}

.bd-primary {
  border-color: #1F40C9 !important;
}

.swiper-container.theme-primary .swiper-pagination-bullet-active {
  background-color: #1F40C9 !important;
}

.swiper-container.theme-primary .swiper-pagination-bullet {
  border: none !important;
  background: grey;
}
